<?xml version="1.0"?>
<!--
/**
 * Copyright © Daz. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Daz_DadJoke::jokes"
             title="Dad Jokes"
             module="Daz_DadJoke"
             sortOrder="100"
             parent="Magento_Backend::content"
             action="dadjoke/jokes/index"
             resource="Daz_DadJoke::jokes"/>
    </menu>
</config>

