<?xml version="1.0"?>
<!--
/**
 * Copyright © Daz. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="dadjoke" frontName="dadjoke">
            <module name="Daz_DadJoke" before="Magento_Backend"/>
        </route>
    </router>
</config>

